.padding-x {
  padding-top: 400px;
  padding-bottom: 400px;
}
.intro-witch {
  position: relative;
  overflow: hidden;
}
.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 600px;
  background-image: url("../src/bgd2-2.webp"), url("../src/bgd2.webp"),
    url("../src/trialbgx1366.webp");
  background-size: 12%, 12%, contain;
  background-repeat: no-repeat;
  background-position: top right, top left, bottom;
}
.intro-wrapper :nth-child(2) {
  margin-top: 20px;
}

.intro-witch > .libra {
  max-width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  bottom: -10%;
  transform: translate(-50%, 0);
  left: 50%;
}
.god-container {
  overflow-x: hidden;
}
/* fire  */
.fire {
  position: relative;
  height: auto;
  overflow: hidden;
}
.fire > .fire-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}
.fire-wrapper > .fire-mask {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.fire-wrapper > .firetext {
  margin-top: 20px;
  line-height: 32px;
}
.fire > .firevideo {
  z-index: -5;
  position: absolute;
  height: inherit;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
}
/* tear  */
.tear {
  position: relative;
  color: #d3cfcf;
}
.tear > .tearbg {
  position: absolute;
  width: 613px;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: 0 50%;
  overflow: hidden;
  height: 100%;
  z-index: -1;
  top: 0%;
  right: 2.5%;
  opacity: 0.9;
}
.tear > .tear-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  overflow: hidden;
  margin-left: 10%;
}

.tear-wrap > .teartext {
  margin-top: 20px;
  line-height: 32px;
}

/*pin*/
.pin {
  color: #d3cfcf;
  position: relative;
  padding-top: 200px;
  padding-bottom: 600px;
}
.pin > .attack {
  position: absolute;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  z-index: 5;
  top: 55%;
  right: 50%;
}
.pin > .attackhand {
  position: absolute;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
}
.pin > .pin-wrapper {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.pin > .pin-wrapper :nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* weight  */
.weight {
  position: relative;
  padding: 200px 0;
}
.weight > .weight-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 500px;
  max-width: 650px;
}

.weight-wrapper > .weighttext {
  text-align: center;
  margin-top: 20px;
  line-height: 32px;
}
.weight > .weightvideo {
  z-index: -3;
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  height: fit-content;
  top: 0;
}

/* water  */
.water {
  position: relative;
  padding-top: 200px;
  padding-bottom: 600px;
}
.water > .water-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  max-width: 650px;
}
.water-wrapper > .watertext {
  line-height: 32px;
  margin-top: 20px;
}
.water > .watervideo {
  z-index: -5;
  position: absolute;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}
@media (max-width: 1440px) {
  .tear > .tearbg {
    transform: scale(0.7);
  }
  .weight > .weight-wrapper {
    padding-top: 0;

  }
}
@media (max-width: 768px) {
  .padding-x {
    padding-top: 250px;
    padding-bottom: 250px;
    margin-left: 8%;
    margin-right: 8%;
  }
  .intro-witch > .libra {
    display: none;
  }
  .intro-wrapper {
    padding-top: 350px;
    padding-bottom: 200px;
    background-image: url("../src/bgd2-2.webp"), url("../src/bgd2.webp"),
      url("../src/trialbgx576.webp");
  }
  .intro-wrapper :nth-child(2) {
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
  }
  /* fire  */
  .fire > .fire-wrapper {
    margin-left: 8%;
    margin-right: 8%;
  }
  /* tear  */
  .tear > .tear-wrap {
    max-width: 100%;
  }
  .tear > .tearbg {
    transform: scale(0.5);
    top: 35%;
    right: -5%;
  }
  /* pin  */
  .pin {
    max-width: unset !important;
    width: unset !important;
    padding-top: 200px;
    padding-bottom: 300px;
  }
  /* weight  */
  .weight {
    padding: 50px 0;
  }
  .weight > .weight-wrapper {
    max-width: 100%;
    margin: 0 8%;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .weight > .weightvideo {
    top: 0%;
    min-height: 100%;
  }
  /* water  */
  .water {
    position: relative;
    padding-top: 100px;
    padding-bottom: 400px;
  }
  .water > .water-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
  }
  .pin > .pin-wrapper {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media (max-width: 576px) {
  .tear > .tearbg {
    transform: scale(0.5);
    top: 35%;
    right: -30%;
  }
}
