body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  background-image: url("../src/historybg.webp");
  background-size: contain;
  max-width: 100%;
  overflow-x: hidden;
}
.main {
  position: relative;
  overflow: hidden;
}
.main .maintl {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: auto;
  top: 35%;
  left: 65%;
  right: 0;
  opacity: 0;
}
.main .mainbg {
  width: 100%;
  height: auto;
}
.main .mainobj {
  position: absolute;
  width: 100%;
  transform: translate(-50%, 0);
  z-index: 5;
  bottom: 5%;
  left: 50%;
  overflow: hidden;
  opacity: 0;
}
/*time*/
.time {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
}
.time .timecontent {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0 8%;
}
.time .clock {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 40px 0;
}
.time .clock > .clockby {
  position: relative;
  display: block;
  margin: 0 auto;
  transform: scale(1);
  max-width: 100%;
  height: auto;
}
.time .clock > .hour {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform-origin: 50% 49.4%;
  transform: rotate(-60deg) scale(1);
}
.time .timesub {
  position: relative;
  text-align: center;
  bottom: 0%;
}
/*麵包*/
.bread {
  position: relative;
  color: rgb(37, 35, 35);
}

.bread .breadsub {
  margin-top: 25px;
}
.bread .breadshow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 60px;
}
.bread .rich,
.bread .poor {
  flex: 0 1 45%;
}
.bread .breadshow img {
  max-width: 100%;
  height: auto;
}
.breadct {
  margin-top: 12px;
  line-height: 32px;
}
/*herb*/
.herb {
  position: relative;
  padding: 60px 0;
}
.herb .herbheading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 8%;
  text-align: center;
}
.herbheading .herbsub {
  margin-top: 20px;
}
.herb .herbbox {
  position: relative;
}
.herbbox .herbct {
  position: absolute;
  max-width: calc(100% / 1.25);
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  z-index: 2;
  margin: 1rem auto;
}
.herbbox .herbbg {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}
.herb .btnbox {
  display: block;
  /* max-width: 100%; */
  margin: 0.75rem auto;
}
.btnbox .herbbtn {
  position: absolute;
  cursor: pointer;
  top: 55%;
  z-index: 10;
}
.prebtn {
  left: 6%;
  left: calc;
}
.nextbtn {
  right: 5%;
}
/*cloth*/
.cloth .clothgp {
  opacity: 1;
  background-image: url("../src/cloth_de01.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clothgp > .clothsub {
  margin-top: 20px;
}
.cloth .richcloth,
.cloth .poorcloth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.richimg,
.poorimg {
  flex: 0 1 50%;
}
.clothct {
  flex: 0 1 45%;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 32px;
  background: url("../src/cloth_de02.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.poorcloth :nth-child(1) {
  order: 2;
}
.poorcloth :nth-child(2) {
  order: 1;
}
.cloth .richcloth img,
.cloth .poorcloth img {
  max-width: 100%;
  height: auto;
}
/*house*/
.house {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  padding: 60px 0;
}
.house .housetl {
  background-image: url("../src/decro_04.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.house .compare {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.compare .town,
.compare .rural {
  flex: 0 1 50%;
}
.compare img {
  max-width: 100%;
  height: auto;
}

/* traffic */
.traffic {
  padding: 60px 0;
}
.traffic .trafficgp {
  margin: 2.5% auto;
  opacity: 1;
  text-align: center;
  background-image: url("");
}
.traffic > .traffica {
  overflow: hidden;
}
.traffic .trafficimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trafficimg > div {
  flex: 0 1 45%;
}
.traffic .traffic-dc {
  max-width: 100%;
  margin-top: 50px;
}
.trafficimg img {
  max-width: 100%;
  height: auto;
}

/*酒類*/
.drinking {
  position: relative;
  margin-top: 60px;
}
/*酒類文字*/
.drinking > .drinking-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.drinking-wrapper > .drinkingtl {
  line-height: 42px;
  opacity: 0;
}
.drinking-wrapper > .drinkingct {
  line-height: 40px;
  margin-top: 60px;
  padding-left: 32px;
  opacity: 0;
  max-width: 280px;
}
.drinking .down {
  position: absolute;
  max-width: 300px;
  width: 100%;
  background-image: url("../src/bucket.png");
  background-repeat: no-repeat;
  background-position: 0 0%;
  transform: scale(1);
  z-index: 0;
  overflow: hidden;
  top: 0%;
  right: 0;
  min-height: 650px;
}
.drinkingt1 {
  color: rgb(63, 60, 60);
  z-index: 2;
  max-width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
.drinkingt2 {
  color: aliceblue;
  line-height: 3;
  z-index: 10;
  width: 75vw;
  margin: 0 auto;
  left: 12.5%;
  position: absolute;
  top: 70%;
  text-align: center;
}
.drinking .drinking1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
}
.drinking2,
.drinking3 {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  /* top: 20%; */
  bottom: 0;
  left: 0;
  height: auto;
}
@media (max-width: 768px) {
  .main .maintl {
    left: 65%;
  }
  .main .mainbg {
    max-width: 130%;
  }
  .main .mainobj {
    width: 100%;
    z-index: 100;
    bottom: 5%;
  }
  .bread .breadshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bread .poor {
    margin-top: 45px;
  }
  .breadct {
    background-image: url("../src/demob_01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .btnbox .herbbtn {
    transform: scale(0.8);
  }
  .prebtn {
    left: 0%;
  }
  .nextbtn {
    right: 0%;
  }
  .cloth .richcloth,
  .cloth .poorcloth {
    flex-direction: column;
    justify-content: center;
  }
  .cloth .poorcloth {
    margin-top: 45px;
  }
  .clothct {
    width: 60%;
    background: url("../src/demob_03.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .poorcloth :nth-child(1) {
    order: 1;
  }
  .cloth .clothgp {
    opacity: 1;
    background-image: url("../src/cloth_de01.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .house .compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .compare .rural {
    margin-top: 45px;
  }
  .town > p {
    background-image: url("../src/demob_03.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .rural > p {
    background-image: url("../src/demob_04.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .traffic .trafficimg {
    flex-direction: column;
    justify-content: center;
  }
  .trafficimg > div {
    flex: 0 1 100%;
  }
  .trafficimg > div:nth-child(2) {
    margin-top: 45px;
  }
  .traffic .traffic-dc {
    display: none;
  }
  .traffic .trafficgp {
    background-image: url("../src/decor_01_mob.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  .drinking .down {
    transform: scale(0.6);
    top: 8%;
  }
  .drinkingt1 {
    top: 53%;
  }
  .drinkingt2 {
    top: 70%;
  }
  .drinking > .drinking-wrapper {
    margin-left: 8%;
    margin-right: 8%;
  }
  .drinking-wrapper > .drinkingct {
    margin-top: 40px;
    padding-left: 20px;
  }
}
@media (max-width: 576px) {
  .main .maintl {
    top: 40%;
    width: 40vw;
  }
  .main .mainobj {
    width: 100%;
  }
  .main .mainbg {
    min-height: 70vw;
  }
  .time .clock .clockby {
    transform: scale(0.6);
  }
  .time .clock .hour {
    transform: rotate(-60deg) scale(0.6);
  }
  .time .timesub {
    bottom: 10%;
  }
  .herbbox .herbct {
    top: 42%;
  }
  .btnbox .herbbtn {
    transform: scale(0.5);
  }
  .prebtn {
    left: -4%;
  }
  .nextbtn {
    right: -3%;
  }
  .drinkingt2 {
    top: 70%;
    line-height: 2;
  }
  .drinking .down {
    transform: scale(0.5);
    top: 0%;
  }
}
@media (max-width: 415px) {
  .time .clock .clockby {
    transform: scale(0.6);
  }
  .time .clock .hour {
    transform: rotate(-60deg) scale(0.6);
  }
  .herbbox .herbct {
    top: 40%;
  }
  .drinkingt2 {
    top: 68%;
  }
}
