body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "sans-serif";
  background: url("../src/witchbg1.webp");
  background-size: contain;
  background-repeat: repeat;
  color: #d3cfcf;
  overflow-x: hidden;
}
#witch {
  position: relative;
  overflow: hidden;
}
#witch .main_witch {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#witch .mainbg {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}
#witch .moon,
#witch .front {
  position: absolute;
  width: 100%;
  z-index: 6;
}
#witch .witchgirl {
  width: 10%;
  position: absolute;
  top: 10%;
  z-index: 7;
  height: auto;
}
#witch .fttree {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
}
#witch .midtree {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 4;
}
#witch .bktree {
  position: absolute;
  width: 100%;
  z-index: 3;
}
#witch .maintext {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 100;
  left: 10%;
  top: 20%;
  opacity: 0;
}
#witch .overview {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%);
  width: 84%;
  max-width: 700px;
  z-index: 10;
  line-height: 32px;
  text-align: center;
}
.place {
  position: relative;
  display: flex;
  justify-content: center;
  background-size: 15%;
  background-position: bottom right, top left;
  background-repeat: no-repeat;
}

.place .placeContent {
  line-height: 52px;
  max-width: 800px;
  margin-top: 40px;
}
#closeeye {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
#closeeye .closeeyehead {
  position: relative;
  width: 100%;
  height: auto;
  transform: scale(0.8);
}
#closeeye .closeeyeTitle {
  position: absolute;
  width: 80%;
  height: auto;
  transform: translateX(-50%);
  left: 50%;
  top: 45%;
  z-index: 5;
  text-align: center;
}
#closeeye .righthand {
  position: absolute;
  width: 100%;
  height: auto;
  transform: scale(0.8);
}
#closeeye .lefthand {
  position: absolute;
  width: 100%;
  height: auto;
  transform: scale(0.8);
}
#book {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.bookimg {
  max-width: 100%;
  height: auto;
}
#book .bookContent {
  margin-top: 120px;
  line-height: 36px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-image: url("../src/witch-doc3.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

#book .bookphoto {
  margin-right: 1rem;
  flex: 0 1 40%;
}

#book .booktext {
  padding-top: 100px;
  flex: 0 1 60%;
}

/* break ponit */
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
  .pin .attack {
    transform: scale(0.8);
  }
  .pin .attackhand {
    transform: scale(0.8);
  }
  #book .bookContent {
    margin-top: 80px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  #closeeye .closeeyeTitle {
    width: 75%;
  }
  #witch {
    margin-bottom: 120px;
  }
  #witch .overview {
    bottom: 0%;
  }
  #book {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #book .booktext {
    padding-top: 60px;
  }
  #book .bookContent {
    margin-top: 40px;
    line-height: 36px;
  }
  .place .placeContent {
    line-height: 32px;
    max-width: 800px;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  #book {
    height: 100%;
  }
}
@media (max-width: 415px) {
  .bookimg {
    transform: scale(0.8);
  }
}
